@model IEnumerable<FSPDFinalProject.Data.EF.Location>

@{
    ViewBag.Title = "Reservations";
}

<h1 class="mt-4">@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Create New Reservation", "Create") |
    @Html.ActionLink("Remove Reservation", "Remove")
</p>
<div class="card mb-4">
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LocationName)
                    </th>
                    <th></th>
                    <th>
                        Reservations available
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>|</td>
                    <td>
                        @{
                            int currentReservations = item.Reservations.Count();
                            int reservationLimit = Convert.ToInt16(item.ReservationLimit);
                            int difference = reservationLimit - currentReservations;
                            if (difference < 1)
                            {
                                <div style="color: red">Full</div>
                            }
                            else
                            {
                                <div>@difference reservations left</div>
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>